@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello, I'm Ethan Kasunick</h1>
</div>

<div class="homeDiv">
    <h2>About Me</h2>
    <p>Student at BYU and interested in machine learning.</p>
</div>

<div class="homeDiv">
    <h2>Education</h2>
    <h5>Brigham Young University</h5>
    <h5>B.S. Information System</h5>
    <h5>Expected Grad. Date: April 2025</h5>
</div>

<div class="homeDiv">
    <h2>Technologies</h2>
    <ul>
        <li><i class="fab fa-js-square"></i> JavaScript</li>
        <li><i class="fab fa-python"></i> Python</li>
        <li><i class="fab fa-microsoft"></i> C#</li>
        <li><i class="fab fa-node-js"></i> Node JS</li>
        <li><i class="fas fa-layer-group"></i> Python Django</li>
        <li><i class="fab fa-react"></i> React</li>
        <li><i class="fab fa-microsoft"></i> .NET</li>
        <li><i class="fas fa-database"></i> SQL</li>
        <li><i class="fas fa-laptop-code"></i> Web development</li>
    </ul>
</div>


<div class="homeDiv">
    <h2>Achievements and Certifications</h2>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <img src="~/img/certifications/psm1.png" class="center" alt="PSMI logo"/>
                    <div class="container">
                        <h4><b>Professional Scrum Master I</b></h4>
                        <p>Issued: 2/3/2024</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="homeDiv">
    <h2>Projects</h2>
</div>

<div class="homeDiv">
    <h2>Contact</h2>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <a>Email: ethankasunick@gmail.com</a>
            </div>
            <div class="col-sm">
                Phone: 719-464-0520
            </div>
            <div class="col-sm">
                <a href="https://www.linkedin.com/in/ethankasunick/">LinkedIn</a>
            </div>
        </div>
    </div>
</div>
